.dashboard-row {
  padding-top: 6rem;
}

.dashboard-sidebar {
  border-right: 1px solid $scrollbar-black;
  bottom: 0;
  left: 0;
  height: 100%;
  min-width: 200px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 6rem;
  position: fixed;
  z-index: 599;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $white; 
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-black; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-black; 
  }
}

.dashboard-sidebar-button-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.dashboard-sidebar-button {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0.6rem 2rem;
  text-align: center;

  svg {
    font-size: 1.5rem;
    margin-right: 0.2rem;
  }
}

.dashboard-sidebar-categories-container {
  margin-top: 1rem;
  max-height: 100%;
  overflow-y: auto;
  padding-left: 1.2rem;
}

.dashboard-sidebar-category-list {
  cursor: pointer;
  list-style: none;
  padding-left: 0;

  li {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-left: 0.2rem;
  }

  svg {
    padding-top: 0.2rem;
    vertical-align: baseline;
  }
}

.dashboard-sidebar-category-item {
  display: inline-block;
  height: 1.5rem;
  max-width: 200px;
  overflow: hidden;
  padding-left: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.active {
    font-weight: 600;
  }
}

.dashboard-sidebar-separator {
  margin-bottom: 1.5rem;
  margin-top: 0.4rem;
  width: 65%
}

.dashboard-sidebar-base {
  min-width: 200px;
}

.dashboard-main-container {
  margin-top: 6px;
}

.dashboard-category-description {
  color: $fade-black;
  margin-bottom: 1.5rem;
}

.dashboard-main-button-container {
  text-align: right;
  width: 95%;
}

.dashboard-main-button {
  font-weight: 500;
  margin-top: 0;
  padding: 0.5rem 1.3rem;

  svg {
    font-size: 1.3rem;
    margin-right: 0.4rem;
  }
}

.dashboard-topic-container {
  cursor: pointer;
  max-width: 90%;
  padding: 0.8rem;
  
  .dashboard-topic-icon {
    float: left;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }
}

.dashboard-topic-heading {
  font-weight: 600;
}

.dashboard-topic-description {
  padding-left: 0.3rem;
}

.dashboard-topic-separator {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 40%;
}

.dashboard-chat-count-container {
  color: $fade-black;

  h6 {
    display: inline-block;
    font-size: 1.2rem;
    padding-left: 0.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-sidebar {
    max-width: 230px;
  }

  .dashboard-sidebar-base {
    max-width: 230px;
  }

  .dashboard-sidebar-category-item {
    max-width: 150px;
  }

  .dashboard-sidebar-button {
    padding: 0.4rem 0.6rem;
  }

  .dashboard-main-container {
    margin-left: 20px;
  }

  .dashboard-topic-container {
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-sidebar {
    max-width: 280px;
  }

  .dashboard-sidebar-base {
    max-width: 280px;
  }

  .dashboard-sidebar-categories-container {
    padding-left: 2rem;
  }

  .dashboard-sidebar-category-item {
    max-width: 170px;
  }

  .dashboard-main-container {
    margin-left: 30px;
  }

  .dashboard-topic-container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .dashboard-sidebar {
    max-width: 350px;
  }

  .dashboard-sidebar-base {
    max-width: 350px;
  }

  .dashboard-sidebar-categories-container {
    padding-left: 2.5rem;
  }

  .dashboard-main-container {
    margin-left: 60px;
  }

  .dashboard-topic-container {
    max-width: 100%;
  }
}
