.user-categories-topics-container {
  .nav-pills
  .nav-link {
    color: $primary-button;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
      color: $primary-button;
      text-decoration: none;
    }

    &.active {
      background-color: $primary-button;
      border-radius: 0.35rem;
      color: $white;
    }
  }
}

.user-categories-topics-list {
  padding-top: 2rem;
}

.user-details-container {
  margin-bottom: 4rem;
  max-width: 600px;
}

.user-image {
  text-align: right;
  
  svg {
    color: $subheading-black;
    font-size: 9rem;
    margin-top: -0.3rem;
  }
}

.user-details {
  text-align: left;

  h2 {
    word-wrap: break-word;

    svg {
      padding-top: 0.5rem;
      font-size: 2rem;
      font-weight: 700;
      vertical-align: baseline;
    }
  }

  h5 {
    font-size: 1.3rem;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
  }

  h6 {
    color: $subheading-black;
    margin-left: 0.3rem;
    margin-top: 1rem;
  }

  .user-twitter-icon {
    color: $subheading-black;

    svg {
      margin-top: -0.9rem;
      margin-left: 0.4rem;
    }

    &:hover {
      color: $subheading-black;
    }
  }
}

.user-anchor-text-container {
  margin-top: 1.2rem;
}

@media (max-width: 768px) {
  .user-image {
    text-align: left;

    svg {
      margin-bottom: 1rem;
      margin-left: -0.2rem;
    }
  }
}