.organization-parent-row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  max-width: 450px;
  text-align: center;
}

.organization-creation-button {
  padding: 0.5rem 3.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}