.organization-parent-row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  max-width: 450px;
  text-align: center;
}

.organization-creation-button {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}