//layouts
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.center-row {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
}

//headings
.main-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  padding-bottom: 1.5rem;
}

//text
.medium-text {
  font-weight: 600;
}

//buttons
.primary-button {
  background-color: $primary-button;
  border: 0;
  border-radius: 0.35rem;
  color: $white;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  transition: all .3s ease-in;

  &:disabled,
  &:hover,
  &.active {
    background-color: $primary-button;
    border: 0;
    color: $white;
  }

  &:hover {
    box-shadow: 0 10px 10px $shadow-black;
    transform: translateY(-5px);
  }

  &:focus {
    background-color: $primary-button;
    border-color: $primary-button;
    box-shadow: 0 0 0 0.2rem $input-shadow;
  }
}

.primary-delete-button {
  background-color: $error-hover-red;
  border: 0;
  border-radius: 0.35rem;
  color: $white;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 2.5rem;
  transition: all .3s ease-in;

  &:disabled,
  &:hover,
  &.active {
    background-color: $error-hover-red;
    border: 0;
    color: $white;
  }

  &:hover {
    box-shadow: 0 10px 10px $shadow-black;
    transform: translateY(-5px);
  }

  &:focus {
    background-color: $error-hover-red;
    border-color: $error-hover-red;
    box-shadow: 0 0 0 0.2rem $input-shadow;
  }
}

//alerts
.alert {
  color: $error-red;
  font-weight: 500;
  text-align: center;
}

//forms
.form-group {
  text-align: left;

  label {
    color: $form-label;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1rem;
  }
}

.form-field-error {
  color: $error-red;
  padding-top: 0.5rem;
}

.form-control {
  &:focus {
    border-color: $primary-button;
    box-shadow: 0 0 0 0.2rem $input-shadow;
  }
}

//anchors
.anchor-text {
  color: $form-label;
  font-weight: 500;
  text-decoration: underline;

  &:hover {
    color: $primary-button;
    text-decoration: none;
  }
}

.anchor-danger-text {
  color: $error-red;
  float: right;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 1.6rem;
  text-decoration: underline;

  &:hover {
    color: $error-hover-red;
    text-decoration: none;
  }
}

//modals
.modal-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-top: 0.6rem;
}

.modal-form {
  padding: 1rem;
}

.modal-delete-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal-delete-text {
  text-align: left;
}
