$black: #000000;
$white: #FFFFFF;
$subheading-black: #3d3a3ada;
$shadow-black: #00000029;
$navbar-light: #f8f9fa;
$fade-black: #8F8F8F;
$primary-button: #008E9B;
$form-label: #086972;
$error-red: #ce3333;
$error-hover-red: #dd5050;
$input-shadow: #038b973f;
$scrollbar-black: #a19e9e6e;
